<head>
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="title">

        I USE THESE TOOLS TO BRING YOUR VISION TO LIFE!

    </div>
    <div class="fullskills">
        <!-- <div class="firstrow"> -->
        <img class="html" src="assets/imgs/html.png">
        <img class="css" src="assets/imgs/css.png">
        <img class="javascript" src="assets/imgs/javascript.png">
        <img class="mongodb" src="assets/imgs/mongodb.png">
        <img class="express" src="assets/imgs/Expressjs.png">
        <img class="angular" src="assets/imgs/angular.png">
        <img class="ionic" src="assets/imgs/ionic.png">
        <!-- </div> -->

        <!-- <div class="secondrow"> -->
        <img class="node" src="assets/imgs/node.png">
        <img class="java" src="assets/imgs/java.png">
        <img class="python" src="assets/imgs/python.png">
        <img class="c" src="assets/imgs/c.png">
        <img class="cpp" src="assets/imgs/c++.png">
        <img class="csharp" src="assets/imgs/csharp.png">
        <img class="arduino" src="assets/imgs/arduino.png">
        <!-- </div> -->


        <!-- <div class="thirdrow"> -->

        <img class="pytorch" src="assets/imgs/pytorch.png">
        <img class="github" src="assets/imgs/github.png">
        <img class="git" src="assets/imgs/git.png">
        <img class="sql" src="assets/imgs/sql.png">
        <img class="unity" src="assets/imgs/unity.png">
        <!-- </div> -->
    </div>
    <div class="buttons">
        <button (click)="GoThingsImProudOfPage()" class="b1">
      <h3>Intresting things in my life!</h3 >
    </button>
        <button (click)="GoToContactPage()" class="b2">
      <h3>Contact Me!</h3 >
    </button>

    </div>
</body>
