<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Patrick+Hand" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

</head>
<div class="router">
    <router-outlet>

    </router-outlet>
</div>

<div class="header">

    <div class="icon icon-fill" (click)="GoToHomePage()">
        <button (click)="GoToHomePage()" class="b1"><i class="fa fa-home"></i></button>
    </div>

</div>

<!-- <div class="footer ">

    <button (click)="GoToGitHubAccount() " class="b5 ">
          <h1> GitHub Account</h1>
          </button>
    <button (click)="GoToLinkedinAccount() " class="b6 ">
            <h1>Linkedin Account</h1>
          </button>
    <button (click)="GoToFacebookAccount() " class="b7 ">
            <h1> Facebook Account</h1>
          </button>

    <button (click)="MyCV() " class="b8 ">
            <h1> My CV </h1>  
               </button>
    <button (click)="EmailMe() " class="b9 ">
                <h1> Email Me</h1>  
                   </button>
    <button (click)="CallMe() " class="b10 ">
            <h1> Call Me</h1>
          </button >
          
           
        </div> -->