<head>

    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Amatic+SC" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>

<body>
    <div class="timeline">
        <div class="timeline__event  animated fadeInUp delay-3s timeline__event--type1">
            <div class="timeline__event__icon ">

                <i class="fas fa-graduation-cap"></i>
            </div>
            <div class="timeline__event__date">

                2020
            </div>
            <div class="timeline__event__content ">
                <div class="timeline__event__title">
                    Graduated from The German University In Cairo
                </div>
                <div class="timeline__event__description">
                    <h3>
                        Graduated after a 5-year Engineering journey with a bachelor degree in Computer Science and Engineering with a cumulative GPA of 1.37 which is equivalent to excellent with honors.

                    </h3>
                </div>
            </div>
        </div>
        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type2">
            <div class="timeline__event__icon">
                <i class="fas fa-plane"></i>

            </div>
            <div class="timeline__event__date">
                2019
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Berlin

                </div>
                <div class="timeline__event__description">
                    <h3>
                        Traveled for a semester abroad in Berlin and scored a GPA of 1.06 while being able to travel to nearly 35 cities!

                    </h3>
                </div>
            </div>
        </div>
        <div class="timeline__event animated fadeInUp delay-1s timeline__event--type3">
            <div class="timeline__event__icon">
                <i class="fas fa-car"></i>

            </div>
            <div class="timeline__event__date">
                2019
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Bachelor Project in Self Driving Cars
                </div>
                <div class="timeline__event__description">
                    <h3>
                        Scored an A+ in my bachelor thesis in Self Driving Cars. Our project was a fully automated golf car that can navigate across the university smoothly. My main contribution to the project is to help the car detect road obstacles and interact with them.
                        At the end of my bachelor thesis, I was asked by my supervisor to contribute in a research paper that was then published in the Joint International Conference on Design and Construction of Smart City Components.
                    </h3>
                </div>

            </div>
        </div>
        <div class="timeline__event animated fadeInUp timeline__event--type1">
            <div class="timeline__event__icon">
                <i class="fa fa-briefcase"></i>

            </div>
            <div class="timeline__event__date">

                2018
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    IBM Internship
                </div>
                <div class="timeline__event__description">
                    <h3>
                        I was required to develop a website for food ordering using MEAN stack. The most enriching aspect of this experience is seeing how multinational companies operate and how the work atmosphere is in such companies.


                    </h3>
                </div>
            </div>

        </div>
        <div class="timeline__event animated fadeInUp delay-1s timeline__event--type2">
            <div class="timeline__event__icon">
                <i class="fa fa-briefcase"></i>

            </div>
            <div class="timeline__event__date">
                2018
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">
                    Three2One Internship
                </div>
                <div class="timeline__event__description">
                    <h3>
                        I was within a team that was responsible for developing an application for the company to manage the daily needs of employees such as applying leave requests, salary updates, important announcements, etc. In this experience, we used Java as a backend
                        for our application and Ionic as a front end and MySQL as a database.
                    </h3>
                </div>

            </div>
        </div>
        <div class="timeline__event animated fadeInUp delay-2s timeline__event--type3">
            <div class="timeline__event__icon">
                <i class="fas fa-graduation-cap"></i>

            </div>
            <div class="timeline__event__date">
                2015
            </div>
            <div class="timeline__event__content">
                <div class="timeline__event__title">

                    Graduated from Maadi Narmer School
                </div>
                <div class="timeline__event__description">
                    <h3> Graduated with an IGCSE Diploma acheiving a score of 98.6%.
                    </h3>
                </div>
            </div>
        </div>

    </div>
    <div class="buttons">
        <button (click)="GoToSkillsPage()" class="b1">
      <h5>See My Skills!</h5 >
    </button>
        <button (click)="GoToContactPage()" class="b2">
      <h5>Contact Me!</h5>
    </button>
    </div>
</body>